@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
}

button {
  user-select: none;
}

html {
  background-color: #f9fafb;
}

#__next {
  position: relative;
}
